@model ShoppingSystem.Models.Entity.CustomerModel

@{
    ViewData["Title"] = "Create Custemer";
}

<h1 class="display-4 mb-4">Create</h1>

@{
    ViewData["Action"] = "Create";
    ViewData["submitBtnHeader"] = "Create";
    await Html.RenderPartialAsync("CustomerCreateEditForm", Model, ViewData);
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}