@model TaskEFC.Models.ProductModel

@{
    ViewData["Title"] = "Edit Product";
}

<h1 class="display-4 mb-4">Edit</h1>

@{
    ViewData["Action"] = "Edit";
    ViewData["submitBtnHeader"] = "Save";
    await Html.RenderPartialAsync("ProductCreateEditForm", Model, ViewData);
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}